<form autocomplete="off" onsubmit="event.preventDefault()">
    <style>
        .boxed {
            border: 1px solid black ;
            border-radius: 5px ; 
            max-width: 145px;
            width:10%;
            margin:2px;
            padding:5px;
            height: {{height}}px;
        }
        .navigation {
            flex:1;
            max-width: 8%;
        }
    </style>

    <div class="navigationDiv" style="width:100%; display:flex; flex-direction:row;">
        <button type="button" class="navigation" id="navPrev" {{prevDisabled}}>
            <i class="fas fa-arrow-left"></i>
        </button>
        <p style="width:84%; text-align:center; padding: 0px 0; font-size: 20px"><b>
            {{localize "MaterialKeys.Macro"}}: {{macroRange}} {{localize "MaterialKeys.Of"}} {{totalMacros}}
        </b></p>
        <button type="button" class="navigation" id="navNext">
            <i class="fas fa-arrow-right"></i>
        </button>
    </div>
    <hr>

    {{#each macroData}}
        <div class="form-group" stype="width:100%">
            {{#each this.dataThis}}
                <div class="boxed">
                    <div style="text-align:center;">                    
                        {{localize "MaterialKeys.Macro"}} {{this.iteration}}
                    </div>
                    <div>
                        <select name="macros" class="macros-select" id="macros{{this.iteration}}" default="" style="max-width:132px;">
                            {{#select this.macro}}
                                <option value="">{{localize "MaterialKeys.None"}}</option>
                                {{#each ../../macros}}
                                <option value="{{this.id}}">{{this.name}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </div>
                    {{#if ../../furnace}}
                        <label>{{localize "MaterialKeys.FurnaceArgs"}}</label>
                        <input type="text" name="args" id="args{{this.iteration}}" value="{{this.args}}">
                    {{/if}}
                    
                    <div class="flex-container" style="display:flex;flex-direction:row;padding-top:10px"">  
                        <label style="flex:1">{{localize "MaterialKeys.Color"}}</label>
                        <input type="number" id="color{{this.iteration}}" name="color" style="flex:4; background-color:{{this.colorRGB}};margin-left:5px" min="0" max="127" value={{this.color}}>
                        <button type="button" name="colorPicker" id="colorBtn{{this.iteration}}" value={{this.iteration}} style="flex:1;height:28px">
                            <i class="fas fa-palette"></i>
                        </button>  
                    </div>
                </div>
            {{/each}}
        </div>
    {{/each}}
    <hr>
    <div class="navigationDiv" style="width:100%; display:flex; flex-direction:row;">
        <button type="button" class="navigation" id="clearPage">
            <i></i>{{localize "MaterialKeys.ClearPage"}}
        </button>
        <button type="button" class="navigation" id="clearAll">
            <i></i>{{localize "MaterialKeys.ClearAll"}}
        </button>
        <p style="width:68%;"></p>
        <button type="button" class="navigation" id="import">
            <i></i>{{localize "MaterialKeys.Import"}}
        </button>
        <button type="button" class="navigation" id="export">
            <i></i>{{localize "MaterialKeys.Export"}}
        </button>
    </div>

</form>