<form autocomplete="off" onsubmit="event.preventDefault()">
    <div >                    
        <h2>{{localize "MaterialKeys.Settings"}}</h2>
    </div>
    <div class="form-group">     
        <label>{{localize "MaterialKeys.DefaultPlayMode"}}</label>
        <select name="playMode" class="playMode" default="">
            {{#select playMode}}
                <option value="0">{{localize "MaterialKeys.Unrestricted"}}</option>
                <option value="1">{{localize "MaterialKeys.OneTrackPlaylist"}}</option>
                <option value="2">{{localize "MaterialKeys.OneTrackTotal"}}</option>
            {{/select}}
        </select>
    </div>
    <div>                    
        <h2>{{localize "MaterialKeys.Playlists"}}</h2>
    </div>
    {{#each playlistData}}
        <div class="form-group">
            <label>{{localize "MaterialKeys.Playlist"}} {{this.iteration}}</label>
            <select name="selectedPlaylist" class="playlist-select" id="playlist{{this.iteration}}" default="">
                {{#select this.playlist}}
                    <option value="">{{localize "MaterialKeys.None"}}</option>
                    {{#each this.playlists}}
                    <option value="{{this._id}}">{{this.name}}</option>
                    {{/each}}
                {{/select}}
            </select>
            &nbsp;
            <select name="playlistMode" class="playlistMode" id="playlistMode{{this.iteration}}" default="">
                {{#select this.playlistMode}}
                    <option value="0">{{localize "MaterialKeys.DefaultPlayMode"}}</option>
                    <option value="1">{{localize "MaterialKeys.Unrestricted"}}</option>
                    <option value="2">{{localize "MaterialKeys.OneTrack"}}</option>
                {{/select}}
            </select>
        </div>
    {{/each}}
</form>